.right-title {
    text-align: right;
}

.blocknote-head {
    background-image: url("../img/thumbnails/blocknote.png");
    background-repeat: repeat-x;
    height: 80px;
}

.blocknote-body {
    background-color: #faf9f5;
    min-height: 700px;
}

.dialog {
    width: 133px;
    background-repeat: no-repeat;
    background-image: url("../img/thumbnails/dialog.png");
    height: 100px;
    margin: inherit;
    padding-top: 35px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.ramka {
/*    border: solid 8px black; */
}

.ramka2 {
    /* border: solid 1px black; */
    padding-top: 5px;
    padding-bottom: 10px;
}

.otstup {
    padding-left: 75px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.mywords {
    font-size: 18pt;
}

.otstuptext {
    padding-top: 60px;
}

.otstup-after-menu {
    padding-top: 30px;
    padding-bottom: 50px;
}

.otstup-block {
    vertical-align: middle;
    padding-top: 150px;
}

.otstup-contacts {
    padding-top: 10px;
}

.blockright {
    padding-left: 60px;

}

.portfolio-block {
    height: 250px;
}

.carousel-inner > .item > img {
    min-width: 100%;
    width: 100%;
}

.leftright-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.slider-size {
    height: 500px;
}

.carousel {
    width: 100%;
    margin: 0 auto;
}

a {
    color: black;
}

a:hover {
    color: black;
}

#footer {
    height: 80px;
    text-align: center;
    font-size: 35px;
}

.clear {
    clear: both;
}

body {
    background-image: url(../img/white.png);
}

div.portfolio > div.col-md-4 > a > img {
    margin-bottom: 20px;
}