.right-title {
    text-align: right;
}

.blocknote-head {
    background-image: url("../img/blocknote.png");
    background-repeat: repeat-x;
    height: 80px;
}

.blocknote-body {
    background-color: #faf9f5;
    min-height: 700px;
}

.dialog {
    width: 133px;
    background-repeat: no-repeat;
    background-image: url("../img/dialog.png");
    height: 100px;
    margin: inherit;
    padding-top: 35px;
    text-align: center;
    font-size: 16pt;
    font-weight:bold;
}

.ramka {
    border: solid 8px black;
}

.otstup {
    padding-left: 75px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.mywords {
    font-size: 25pt;
}

.otstuptext {
    padding-top: 200px;
}

.otstup-after-menu {
    padding-top: 10px;
}

.otstup-block {
    vertical-align: middle;
    padding-top: 150px;
}
.blockright {
    padding-left: 60px;

}

.portfolio-block {
    height: 250px;
}

.carousel-inner > .item > img {
    min-width: 100%;
    width: 100%;
}

.leftright-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.slider-size {
    height: 500px;
}

.carousel {
    width: 100%;
    margin: 0 auto;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.center-picture {
    height: 350px;
}